@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Samarkan";
  src: url("../assets/fonts/Samarkan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  color: #fff;
}

body {
  background-color: black;
}
